.deps
bin/
site/_site/
site/static/css/screen.css
processing/*/build-tmp/
env/
gems/
trunk/
.bundle/
.sass-cache/
.DS_Store
*.pyc

openframeworks/
!openframeworks/apps/
!openframeworks/Makefile

processing/libraries/
