@import "compass";

$base-font-size: 13px;
$base-line-height: 19px;
$rhythm-unit: "px";

$color-black: #333;
$color-grey: #bbb;
$color-anchor: #3a5070;
$color-anchor-hover: #ff7f00;
$small: "only screen and (min-width: 768px)";

@include establish-baseline($base-font-size);

body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oxygen Mono", sans-serif;
  color: $color-black;
}

ul {
  margin: 0;
  @include apply-side-rhythm-border(left, 0, 1);
}

ul, p, dd, ol, pre, code {
  font-family: "Oxygen Mono", sans-serif;
  @include adjust-font-size-to($base-font-size, 1);
  @include rhythm(0, 0, 0, 1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0;
  @include trailer(1);
}

h1 { @include adjust-font-size-to(24px, 2); }
h2 { @include adjust-font-size-to(16px, 1); }
h3 { @include adjust-font-size-to(14px, 1); }
h4 { @include adjust-font-size-to(13px, 1); }

a {
  color: $color-anchor;
}

a:hover {
  color: $color-anchor-hover !important;
}

#container {
  @include padding-leader(1);
  margin: 0 auto;
  width: 90%;
}

@media #{$small} {
  #container {
    width: 640px;
    margin: 0;
    @include apply-side-rhythm-border(left, 0, 2);
  }
}

#header {
  @include clearfix;

  .brand {
    float: left;
  }

  .navigation,
  .navigation li {
    @include adjust-font-size-to($base-font-size, 2);
    float: left;
    list-style: none;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: bold;
  }

  .navigation li {
    @include apply-side-rhythm-border(left, 0, 1);
  }
}

.post-body {
  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  iframe, blockquote {
    @include trailer(1);
  }

  blockquote {
    @include apply-side-rhythm-border(left, 0, 1);
    font-style: italic;
    color: lighten($color-black, 10%);
    margin: 0;
  }
}

#gallery {
  @include clearfix;
  padding: 0 !important;
  margin: 0 !important;

  li {
    @include trailer(1);
    width: 47.5%;
    float: left;
  }

  li:nth-child(even) {
    margin-left: 5% !important;
  }

  img {
    width: 100%;
    margin: 0;
    height: auto;
    @include trailer(1);
  }

  ul, li {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
  }
}
